@media (min-width: 576px) {
  .col-xs-1 {
    width: 8.3333%;
  }
  .col-xs-2 {
    width: 16.6666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333%;
  }
  .col-xs-5 {
    width: 41.6666%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333%;
  }
  .col-xs-8 {
    width: 66.6666%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333%;
  }
  .col-xs-11 {
    width: 91%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .container {
    max-width: 540px;
  }
  header {
    padding: 10px;
  }
  header .header aside {
    display: none;
  }
  header .header .menu i {
    display: none;
  }
  header .header .menu h2 {
    font-size: 30px;
  }
  header .header .icon i {
    margin: 0px 5px;
    font-size: 16px;
  }
  header .header .icon button {
    padding: 10px 20px;
  }
  header .header .icon .Signup-Form {
    position: absolute;
    contain: "";
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    left: 0px;
    right: 0px;
    top: 110px;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 50px;
  }
  header .header .icon .Signup-Form h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  header .header .icon .Signup-Form #Signup .box label {
    text-transform: uppercase;
    font-size: 15px;
  }
  header .header .icon .Signup-Form #Signup .box label .e-dot {
    margin-left: 46px;
  }
  header .header .icon .Signup-Form #Signup .box label span {
    margin-left: 10px;
  }
  header .header .icon .Signup-Form #Signup .box select {
    margin-left: 110px;
    margin-top: 10px;
  }
  header .header .icon .Signup-Form #Signup .box input {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 60%;
  }
  header .header .icon .Signup-Form #Signup button {
    display: block;
    margin: auto;
    padding: 10px 30px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(54, 54, 227);
  }
  header .header .icon .Signup-Form #Signup button :hover {
    background-color: black;
  }
  .responsiv-header {
    display: block;
    border: 1px solid black;
    padding: 15px;
  }
  .responsiv-header ul {
    position: relative;
  }
  .responsiv-header ul li {
    padding: 0px 5px;
    cursor: pointer;
  }
  .responsiv-header ul li:hover {
    border-bottom: 1px solid black;
  }
  .responsiv-header ul li:hover .box-dropdown {
    transform: scale(1);
  }
  .responsiv-header ul li:hover .box-dropdown .all ul li a {
    color: red;
  }
  .responsiv-header ul li .box-dropdown {
    position: absolute;
    width: 550px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 33px;
    padding: 10px;
    left: 0px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    transform: scale(0);
    transition: all 0.3s ease-in;
  }
  .responsiv-header ul li .box-dropdown h2 {
    font-size: 15px;
    padding: 10px 5px;
    color: purple;
    display: inline-block;
  }
  .responsiv-header ul li .box-dropdown li {
    padding: 5px 0px;
    border: none;
  }
  .responsiv-header ul li .box-dropdown li a {
    color: gray;
  }
  .responsiv-header ul li .box-dropdown li :hover {
    color: black;
  }
  .responsiv-header ul li .men {
    position: absolute;
    width: 550px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 33px;
    padding: 10px;
    left: 280px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    visibility: visible;
  }
  .responsiv-header ul li .Jewellery {
    position: absolute;
    width: 550px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 33px;
    padding: 10px;
    left: 600px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91%;
  }
  .col-md-12 {
    width: 100%;
  }
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .col-xl-1 {
    width: 8.3333%;
  }
  .col-xl-2 {
    width: 16.6666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333%;
  }
  .col-xl-5 {
    width: 41.6666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333%;
  }
  .col-xl-8 {
    width: 66.6666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333%;
  }
  .col-xl-11 {
    width: 91%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .container {
    max-width: 1320px;
  }
  header {
    background-color: bisque;
  }
}/*# sourceMappingURL=media.css.map */