* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: auto;
}

:root {
  --maintext:black;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.justify-around {
  justify-content: space-around;
}

.align-item {
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  scroll-behavior: smooth;
}

.responsiv-header {
  display: none;
}

header {
  padding: 10px;
}
header .header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .header .menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header .header .menu h2 {
  margin: 0px 10px;
  font-size: 20px;
}
header .header .activ {
  visibility: visible;
  transition: all 0.5s;
}
header .header .icon button {
  padding: 10px;
  background-color: blue;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
}
header .header .icon button a {
  text-transform: capitalize;
  color: white;
}
header .header .icon .Signup-Form {
  position: absolute;
  contain: "";
  background-color: antiquewhite;
  left: 0px;
  right: 0px;
  top: 70px;
  width: 350px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  display: none;
}
header .header .icon .Signup-Form h2 {
  text-align: center;
  padding: 20px;
}
header .header .icon .Signup-Form #Signup .box {
  display: block;
}
header .header .icon .Signup-Form #Signup .box label {
  text-transform: uppercase;
  font-size: 15px;
}
header .header .icon .Signup-Form #Signup .box label .e-dot {
  margin-left: 46px;
}
header .header .icon .Signup-Form #Signup .box label span {
  margin-left: 10px;
}
header .header .icon .Signup-Form #Signup .box select {
  margin-left: 110px;
  margin-top: 10px;
}
header .header .icon .Signup-Form #Signup .box input {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 55%;
}
header .header .icon .Signup-Form #Signup .box .first {
  color: red;
  margin-left: 110px;
}
header .header .icon .Signup-Form #Signup button {
  display: block;
  margin: auto;
  padding: 10px 30px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  background-color: rgb(54, 54, 227);
}
header .header aside {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0px;
  display: flex;
  flex-wrap: nowrap;
  visibility: hidden;
}
header .header aside .product-list {
  width: 100px;
  height: 100vh;
  overflow: scroll;
  padding: 0px 5px;
  margin: 10px;
}
header .header aside .product-list .product-name {
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
header .header aside .product-list .product-name img {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  margin: 7px 0px;
}
header .header aside .product-list .product-name p {
  font-size: 15px;
  padding: 10px;
  padding-top: 0px;
}
header .header aside .product-list .product-name p span {
  display: block;
}
header .header aside .product-list .fa-xmark {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
header .header aside .box-product {
  overflow: scroll;
  width: 100%;
}
header .header aside .box-product .product-heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .header aside .box-product .product-heading p {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}
header .header aside .box-product .product-heading .hr {
  width: 72px;
  height: 1px;
  background-color: black;
  margin-top: 5px;
  margin-left: 5px;
}
header .header aside .box-product .product-contant h2 {
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 10px;
}
header .header aside .box-product .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-transform: uppercase;
  text-align: center;
}
header .header aside .box-product .box .product-box {
  width: 60px;
  margin: 10px 0px;
}
header .header aside .box-product .box .product-box img {
  width: 45px;
  height: 45px;
  text-align: center;
}
header .header aside .box-product .box .product-box p {
  font-size: 10px;
  padding-top: 5px;
}/*# sourceMappingURL=style.css.map */